.title-heading{

    color: white;
}
.containername{
    display: flex;
    background-image: url(../image/ghaniansflag.jpg);
    background-repeat: no-repeat;
    height: 600px;
    width: 1000px;
}
.containeroverlay{
    
    height: 600px;
    width: 1000px;
}
.paragraphdetail{
    color: yellow;
}

.maleghanians{
    float: left; 
    border: 5px solid #FFFF00;
    padding: 50px;
}
.maleplace{
    color: White;
}
.femaleghanians{
    float: right;
    border: 5px solid #FFFF00;
    padding: 50px;
}
.femaleplace{
    color: white;
}

.leadtoform{
    color: white;
}
.birthday{
    float: center;
    border: 5px solid #FFFF00;
    height: 400px;
    width: 1000px;
    padding: 50px;
    background-image: url(../image/akanface.jpg);
    background-color: rgba(0, 0, 0, 0.2);
}
.fillform{
    color: white;
}
.dob-label{
    color:white;
}
.gender-label{
    color: white;
}
.akansubmit{
    color: darkblue;
}